@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: inherit;
}

body {
    background: rgb(137,186,235);
    background: linear-gradient(90deg, rgba(137,186,235,1) 0%, rgba(187,97,242,1) 100%);
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin: 35px 1px;
    margin-bottom: 35px;
}

.container {
    border: white 4px double;
    max-height: 600px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    color: #fff;
    display: grid;
}

::placeholder {
    color: rgba(255, 255, 255, 0.651);
}

input {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    background: transparent;
    padding: 15px;
    border: white 1px solid;
    margin-bottom: 20px;
    border: 3px solid white;
    
}
#pswrd {
    margin-bottom: 15px;
}

button {
    padding: 8px 35px;
    margin: 15px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn:active {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.a {
    margin-top: 10px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}